header {
  background: #333333;
  color: #FFF;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroLogo {
  height: 5rem;
  animation: logo-spin 10s infinite linear;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}