.appContainer {
  max-width: 70rem;
  margin: 1rem auto;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

nav {
  display: flex;
  padding: 3rem;
  justify-content: center;
  background-color: #333333;
}

.container {
  padding: 3rem 1.25rem;
}

.container  ul  li {
  list-style: none;
  font-size: 2rem;
  line-height: 1.5;
}

form input[type=text] {
  padding: 1rem;
  font-size: 2rem;
  border: 0;
  border-bottom: .1rem solid #333;
}

form button {
  margin: 1rem;
}

hr {
  height: 5px;
	border: 0;
	box-shadow: 0 5px 5px -5px #8c8b8b inset;
}
