.education {
  display: flex;
  flex-direction: column;
}

.education button {
  align-self: start; 
}

.education h2 {
  font-size: 3rem;
}

.education p {
  line-height: 1.5;
}

.educationContainer {
  padding: 1.5rem 0;
}

.educationContainer button {
  margin: 1rem 0;
  border: 0.1em solid #CD5C5C;
  background: #FFF;
  color: #CD5C5C;
}

.educationContainer button:hover {
  border: 0.1em solid #FFF;
  background: #CD5C5C;
  color: #FFF;
  cursor: pointer;
}

.educationContainer .schoolName {
  font-style: italic;
}

.education form {
  display: flex;
  flex-direction: column;
}

.education form input[type=text] {
  margin: 0.5rem;
}
