.userInfo {
  display: flex;
}

.col form input[type=text] {
  padding: .5rem;
  font-size: 1.3rem;
}

.col form button {
  font-size: 1.3rem;
  padding: .5rem 1rem;
  margin: .5rem;
}
.col span:hover {
  cursor: pointer;
}

.colLeft {
  width: 35%;
}
.colRight {
  width: 65%;
  text-align: right;
}

.col.colRight li {
  font-size: 1.3rem;
}

@media only screen and  (min-width: 50rem) {

  .col.colRight li {
    font-size: 2rem;
  }
  
}