.experience {
  display: flex;
  flex-direction: column;
}

.experience button {
  align-self: start; 
}

.experience h2 {
  font-size: 3rem;
}

.experience p {
  line-height: 1.5;
}

.experienceContainer {
  padding: 1.5rem 0;
}

.experienceContainer button {
  margin: 1rem 0;
  border: 0.1em solid #CD5C5C;
  background: #FFF;
  color: #CD5C5C;
}

.experienceContainer button:hover {
  border: 0.1em solid #FFF;
  background: #CD5C5C;
  color: #FFF;
  cursor: pointer;
}

.experienceContainer .companyName {
  font-style: italic;
}

.experience form {
  display: flex;
  flex-direction: column;
}

.experience form input[type=text] {
  margin: 0.5rem;
}

.experience textarea {
  padding: 1rem;
  font-size: 2rem;
  border-radius: .5rem;
}